body {
    background-color: black;
}

.product_title {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: .2em;
    padding-top: 15px;
    padding-bottom: 10px;
}

.product_image {
  border-radius: 10%;
}