.cart_table {
    min-width: 400px;
    font-size: 14px;
}

.cart_thead {
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: .2em;
}

.cart_icon {
    text-decoration: none;
    color: crimson !important;
}

.stripe-button-el {
    width: 100% !important;
    display: block !important;
    background-color: #868e96 !important;
    margin-bottom: 5px;
}

.stripe-button-el span {
    height: 36px !important;
    font-family:'Georgia', serif !important;
    font-size: 16px !important;
}